{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ? - TRIANGLE{% endblock %}

{% block content %}
    <h2 class="text-center">A propos de nous</h2>
    <hr>
    <div>
        <p class="text-center">La société TRIANGLE est spécialisé dans la fabrication et ventes d’emballages.
            Ces emballages sont en carton ou en plastiques sur lesquelles sont imprimées le nom et le logo du client.
            TRIANGLE diversifie son activité par le recyclage des cartons pour en parallèle répondre aux problèmes environnementaux.
            On note également la fabrication des calendriers, des agendas, des couvertures de livres, cahiers, des gobelets et sacs à main jetables.</p>
    </div>

{% endblock %}
